.grid-container{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    text-align: center;
    }


    body {
        width: 60%;
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        fieldset {
        margin-bottom: 10px;
        background-color: white;
        opacity: 80%;
        border-radius: 5px;
        }
        
        fieldset input, select {
            font-size: large;
        }
        
        fieldset h1 {
            font-weight: bold;
            text-align: center;
        }

        
        .grid-container-submit :hover{
        color: white;
        }


        .aside{
            float: left;
        }

        .Article{
            float: right;
        }
    