.grid-container{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    }

    body {
        width: 60%;
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        fieldset {
        margin-bottom: 10px;
        background-color: #21496b;
        border-radius: 5px;
        }
        
        fieldset input, select {
            font-size: large;
        }
        
        fieldset h1 {
            font-weight: bold;
            text-align: center;
        }

        .grid-container-submit :hover{
        color: antiquewhite;
        }

    